.review-content{
    z-index: 10;
}
.small-square{
    height:30px;
    width: 30px;
    margin-top: -22px;
    margin-left: 22px;
    background-color: red;
    transform: rotate(45deg);
    z-index: -10;
}
.custom-review:hover{
    transform: scale(1.05);
    transition:  0.5s;
}

@media screen and (max-width: 520px) {
    .custom-review {
      /* display: block; */
      margin-top: 25px;
      margin-left: 20px !important;
    }
  }